= content_for :title, "Webmail - Login"

.row-fluid
  / hack to build fake offset4, not supported in fuild layout
  / see: https://github.com/twitter/bootstrap/pull/1735
  .span4 &nbsp;
  .span4
    = form_tag("todo", id: "login-form", class: "well") do
      %h2 Login
      %p.sub-header Login with your webmail credential.
      = label_tag :email_address
      = text_field_tag :email_address, "", placeholder: "user@provider.tld", class: 'input-xlarge'
      = label_tag :password
      = password_field_tag :password, "", placeholder: "password"
      .submit
        = submit_tag "Login", class: "btn btn-primary"